DailyRhythmPortal/primary-source/src/main/resources/WSDL/PROD/RewardZone/RWZ_Member/InquireMemberV1Soap.wsdl

<WL5G3N0:definitions name="InquireRZMemberV1" targetNamespace="http://webservices.bestbuy.com/rzServices/service" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://webservices.bestbuy.com/rzServices/schemas/RewardZoneSchema/2009/12" xmlns:WL5G3N2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:WL5G3N3="http://webservices.bestbuy.com/rzServices/service" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:s0="http://webservices.bestbuy.com/rzServices/schemas/RewardZoneSchema" xmlns:s1="http://webservices.bestbuy.com/rzServices/service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.bestbuy.com/rzServices/service" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://webservices.bestbuy.com/rzServices/schemas/RewardZoneSchema">
      <xsd:import namespace="http://webservices.bestbuy.com/rzServices/schemas/RewardZoneSchema/2009/12" schemaLocation="../RWZ_Member/RWZMemberInternalSchema/InquireRZMemberV1.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:s0="http://webservices.bestbuy.com/rzServices/schemas/RewardZoneSchema/2009/12" xmlns:s1="http://webservices.bestbuy.com/rzServices/service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Security" type="wsse:Security"/>
      <xsd:complexType name="Security">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Base64Assertion" type="xsd:string"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="RZInquireMemberRequest">
    <WL5G3N0:part element="WL5G3N1:RZInquireMemberRequest" name="inquireMemberRequest"/>
    <WL5G3N0:part element="WL5G3N2:Security" name="security"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="RZInquireMemberResponse">
    <WL5G3N0:part element="WL5G3N1:RZInquireMemberResponse" name="inquireMemberResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="InquireRZMemberV1">
    <WL5G3N0:operation name="inquireMember">
      <WL5G3N0:input message="WL5G3N3:RZInquireMemberRequest" name="inquireMemberRequest"/>
      <WL5G3N0:output message="WL5G3N3:RZInquireMemberResponse" name="inquireMemberResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="InquireRZMemberV1Bind" type="WL5G3N3:InquireRZMemberV1">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="inquireMember">
      <WL5G3N4:operation style="document"/>
      <WL5G3N0:input name="inquireMemberRequest">
        <WL5G3N4:header message="WL5G3N3:RZInquireMemberRequest" part="security" use="literal"/>
        <WL5G3N4:body parts="inquireMemberRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="inquireMemberResponse">
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="InquireRZMemberV1SOAP">
    <WL5G3N0:port binding="WL5G3N3:InquireRZMemberV1Bind" name="InquireRZMemberV1">
      <WL5G3N4:address location="https://crmservices.na.bestbuy.com/RewardZone/InquireMemberV1Soap"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>