DailyRhythmPortal/primary-source/src/main/resources/WSDL/QA/PROMO/PromotionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bestbuy.com/bbym/promo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bestbuy.com/bbym/promo" name="PromotionServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://bestbuy.com/bbym/promo" schemaLocation="../PROMO/PROMOInternalSchema/PromotionService.xsd" />
</xsd:schema>
</types>
<message name="getRelatedPromotions">
<part name="parameters" element="tns:getRelatedPromotions" />
</message>
<message name="getRelatedPromotionsResponse">
<part name="parameters" element="tns:getRelatedPromotionsResponse" />
</message>
<message name="UnknownFailureException">
<part name="fault" element="tns:UnknownFailureException" />
</message>
<message name="InvalidArgumentException">
<part name="fault" element="tns:InvalidArgumentException" />
</message>
<message name="validateTransaction">
<part name="parameters" element="tns:validateTransaction" />
</message>
<message name="validateTransactionResponse">
<part name="parameters" element="tns:validateTransactionResponse" />
</message>
<message name="fulfillTransaction">
<part name="parameters" element="tns:fulfillTransaction" />
</message>
<message name="fulfillTransactionResponse">
<part name="parameters" element="tns:fulfillTransactionResponse" />
</message>
<message name="OutOfEGiftCardsException">
<part name="fault" element="tns:OutOfEGiftCardsException" />
</message>
<message name="InvalidTransactionIDException">
<part name="fault" element="tns:InvalidTransactionIDException" />
</message>
<message name="getToken">
<part name="parameters" element="tns:getToken" />
</message>
<message name="getTokenResponse">
<part name="parameters" element="tns:getTokenResponse" />
</message>
<message name="InvalidTokenException">
<part name="fault" element="tns:InvalidTokenException" />
</message>
<message name="claimToken">
<part name="parameters" element="tns:claimToken" />
</message>
<message name="claimTokenResponse">
<part name="parameters" element="tns:claimTokenResponse" />
</message>
<message name="TokenAlreadyClaimedException">
<part name="fault" element="tns:TokenAlreadyClaimedException" />
</message>
<message name="TokenNotCurrentlyValidException">
<part name="fault" element="tns:TokenNotCurrentlyValidException" />
</message>
<message name="DuplicatePhoneNumberException">
<part name="fault" element="tns:DuplicatePhoneNumberException" />
</message>
<message name="register">
<part name="parameters" element="tns:register" />
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse" />
</message>
<message name="referAFriendFind">
<part name="parameters" element="tns:referAFriendFind" />
</message>
<message name="referAFriendFindResponse">
<part name="parameters" element="tns:referAFriendFindResponse" />
</message>
<message name="referAFriendRegister">
<part name="parameters" element="tns:referAFriendRegister" />
</message>
<message name="referAFriendRegisterResponse">
<part name="parameters" element="tns:referAFriendRegisterResponse" />
</message>
<message name="referAFriendUpdate">
<part name="parameters" element="tns:referAFriendUpdate" />
</message>
<message name="referAFriendUpdateResponse">
<part name="parameters" element="tns:referAFriendUpdateResponse" />
</message>
<message name="referAFriendFindFriend">
<part name="parameters" element="tns:referAFriendFindFriend" />
</message>
<message name="referAFriendFindFriendResponse">
<part name="parameters" element="tns:referAFriendFindFriendResponse" />
</message>
<message name="referAFriendRegisterFriend">
<part name="parameters" element="tns:referAFriendRegisterFriend" />
</message>
<message name="referAFriendRegisterFriendResponse">
<part name="parameters" element="tns:referAFriendRegisterFriendResponse" />
</message>
<message name="getFulfillmentContent">
<part name="parameters" element="tns:getFulfillmentContent" />
</message>
<message name="getFulfillmentContentResponse">
<part name="parameters" element="tns:getFulfillmentContentResponse" />
</message>
<message name="getEGiftCard">
<part name="parameters" element="tns:getEGiftCard" />
</message>
<message name="getEGiftCardResponse">
<part name="parameters" element="tns:getEGiftCardResponse" />
</message>
<message name="PermissionDeniedException">
<part name="fault" element="tns:PermissionDeniedException" />
</message>
<message name="EGiftCardReservationHasExpiredException">
<part name="fault" element="tns:EGiftCardReservationHasExpiredException" />
</message>
<message name="getUnissuedCouponCount">
<part name="parameters" element="tns:getUnissuedCouponCount" />
</message>
<message name="getUnissuedCouponCountResponse">
<part name="parameters" element="tns:getUnissuedCouponCountResponse" />
</message>
<message name="UnsupportedOperationException">
<part name="fault" element="tns:UnsupportedOperationException" />
</message>
<message name="issueCoupon">
<part name="parameters" element="tns:issueCoupon" />
</message>
<message name="issueCouponResponse">
<part name="parameters" element="tns:issueCouponResponse" />
</message>
<message name="OutOfCouponsException">
<part name="fault" element="tns:OutOfCouponsException" />
</message>
<portType name="PromotionService">
<operation name="getRelatedPromotions">
<input message="tns:getRelatedPromotions" />
<output message="tns:getRelatedPromotionsResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="validateTransaction">
<input message="tns:validateTransaction" />
<output message="tns:validateTransactionResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="fulfillTransaction">
<input message="tns:fulfillTransaction" />
<output message="tns:fulfillTransactionResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:OutOfEGiftCardsException" name="OutOfEGiftCardsException" />
<fault message="tns:InvalidTransactionIDException" name="InvalidTransactionIDException" />
</operation>
<operation name="getToken">
<input message="tns:getToken" />
<output message="tns:getTokenResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:InvalidTokenException" name="InvalidTokenException" />
</operation>
<operation name="claimToken">
<input message="tns:claimToken" />
<output message="tns:claimTokenResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:InvalidTokenException" name="InvalidTokenException" />
<fault message="tns:TokenAlreadyClaimedException" name="TokenAlreadyClaimedException" />
<fault message="tns:TokenNotCurrentlyValidException" name="TokenNotCurrentlyValidException" />
<fault message="tns:DuplicatePhoneNumberException" name="DuplicatePhoneNumberException" />
</operation>
<operation name="register">
<input message="tns:register" />
<output message="tns:registerResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:DuplicatePhoneNumberException" name="DuplicatePhoneNumberException" />
</operation>
<operation name="referAFriendFind">
<input message="tns:referAFriendFind" />
<output message="tns:referAFriendFindResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="referAFriendRegister">
<input message="tns:referAFriendRegister" />
<output message="tns:referAFriendRegisterResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="referAFriendUpdate">
<input message="tns:referAFriendUpdate" />
<output message="tns:referAFriendUpdateResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="referAFriendFindFriend">
<input message="tns:referAFriendFindFriend" />
<output message="tns:referAFriendFindFriendResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="referAFriendRegisterFriend">
<input message="tns:referAFriendRegisterFriend" />
<output message="tns:referAFriendRegisterFriendResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
</operation>
<operation name="getFulfillmentContent">
<input message="tns:getFulfillmentContent" />
<output message="tns:getFulfillmentContentResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:InvalidTransactionIDException" name="InvalidTransactionIDException" />
</operation>
<operation name="getEGiftCard">
<input message="tns:getEGiftCard" />
<output message="tns:getEGiftCardResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:PermissionDeniedException" name="PermissionDeniedException" />
<fault message="tns:OutOfEGiftCardsException" name="OutOfEGiftCardsException" />
<fault message="tns:TokenNotCurrentlyValidException" name="TokenNotCurrentlyValidException" />
<fault message="tns:EGiftCardReservationHasExpiredException" name="EGiftCardReservationHasExpiredException" />
</operation>
<operation name="getUnissuedCouponCount">
<input message="tns:getUnissuedCouponCount" />
<output message="tns:getUnissuedCouponCountResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:InvalidTokenException" name="InvalidTokenException" />
<fault message="tns:UnsupportedOperationException" name="UnsupportedOperationException" />
</operation>
<operation name="issueCoupon">
<input message="tns:issueCoupon" />
<output message="tns:issueCouponResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:InvalidTokenException" name="InvalidTokenException" />
<fault message="tns:OutOfCouponsException" name="OutOfCouponsException" />
<fault message="tns:UnsupportedOperationException" name="UnsupportedOperationException" />
</operation>
</portType>
<binding name="PromotionServicePortBinding" type="tns:PromotionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getRelatedPromotions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="validateTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="fulfillTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="OutOfEGiftCardsException">
<soap:fault name="OutOfEGiftCardsException" use="literal" />
</fault>
<fault name="InvalidTransactionIDException">
<soap:fault name="InvalidTransactionIDException" use="literal" />
</fault>
</operation>
<operation name="getToken">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal" />
</fault>
</operation>
<operation name="claimToken">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal" />
</fault>
<fault name="TokenAlreadyClaimedException">
<soap:fault name="TokenAlreadyClaimedException" use="literal" />
</fault>
<fault name="TokenNotCurrentlyValidException">
<soap:fault name="TokenNotCurrentlyValidException" use="literal" />
</fault>
<fault name="DuplicatePhoneNumberException">
<soap:fault name="DuplicatePhoneNumberException" use="literal" />
</fault>
</operation>
<operation name="register">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="DuplicatePhoneNumberException">
<soap:fault name="DuplicatePhoneNumberException" use="literal" />
</fault>
</operation>
<operation name="referAFriendFind">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="referAFriendRegister">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="referAFriendUpdate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="referAFriendFindFriend">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="referAFriendRegisterFriend">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
</operation>
<operation name="getFulfillmentContent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="InvalidTransactionIDException">
<soap:fault name="InvalidTransactionIDException" use="literal" />
</fault>
</operation>
<operation name="getEGiftCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="PermissionDeniedException">
<soap:fault name="PermissionDeniedException" use="literal" />
</fault>
<fault name="OutOfEGiftCardsException">
<soap:fault name="OutOfEGiftCardsException" use="literal" />
</fault>
<fault name="TokenNotCurrentlyValidException">
<soap:fault name="TokenNotCurrentlyValidException" use="literal" />
</fault>
<fault name="EGiftCardReservationHasExpiredException">
<soap:fault name="EGiftCardReservationHasExpiredException" use="literal" />
</fault>
</operation>
<operation name="getUnissuedCouponCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal" />
</fault>
<fault name="UnsupportedOperationException">
<soap:fault name="UnsupportedOperationException" use="literal" />
</fault>
</operation>
<operation name="issueCoupon">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal" />
</fault>
<fault name="OutOfCouponsException">
<soap:fault name="OutOfCouponsException" use="literal" />
</fault>
<fault name="UnsupportedOperationException">
<soap:fault name="UnsupportedOperationException" use="literal" />
</fault>
</operation>
</binding>
<service name="PromotionServiceService">
<port name="PromotionServicePort" binding="tns:PromotionServicePortBinding">
<soap:address location="https://dld21wap:10743/PromotionService/PromotionService" />
</port>          
</service>
</definitions>