DailyRhythmPortal/primary-source/src/main/resources/WSDL/PROD/ACDS/ManageManifest_v01.serviceagent.wsdl

<!--Created by TIBCO WSDL--><wsdl:definitions name="Untitled" targetNamespace="http://www.tsh.bestbuy.com/BusinessServices/Proxy/ManageManifest" xmlns:ns0="http://bestbuy.com/bbym/logistics/manifest/service/v1" xmlns:ns1="http://tsh.bestbuy.com/tsh/tshfault" xmlns:ns2="http://www.tsh.bestbuy.com/common/v1" xmlns:ns3="http://bestbuy.com/bbym/logistics/manifest/fields/v1" xmlns:ns4="http://www.tsh.bestbuy.com/common/datatype/v1" xmlns:ns5="http://www.tsh.bestbuy.com/common/metadata/fields/v1" xmlns:ns6="http://www.tsh.bestbuy.com/common/metadata/components/v2" xmlns:ns7="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tsh.bestbuy.com/BusinessServices/Proxy/ManageManifest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tsh.bestbuy.com/common/v1" version="1.0" xmlns:dt="http://www.tsh.bestbuy.com/common/datatype/v1" xmlns:qdt="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:tns="http://www.tsh.bestbuy.com/common/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/datatype/v1"/>
            <xs:import namespace="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1"/>
            <xs:annotation>
                <xs:documentation>Common Location schema is defined to capture common generic elements which can be leveraged by other TSH schemas.</xs:documentation>
            </xs:annotation>
            <xs:complexType name="AmountType">
                <xs:annotation>
                    <xs:documentation>A type defining a currency amount.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="Amount" type="qdt:DecimalNumericType">
                        <xs:annotation>
                            <xs:documentation>The monetary quantity in currency units.
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="currency" type="qdt:StringType"/>
            </xs:complexType>
            <xs:complexType name="DescriptionType">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="dt:TextType">
                        <xs:attribute name="type" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DocumentIDType">
                <xs:annotation>
                    <xs:documentation>This is the ID assigned to the document by the creator of the document.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element ref="tns:ID">
                        <xs:annotation>
                            <xs:documentation>Is the Identifiers of the given instance of an entity within the scope of the integration. 
				The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="agencyID" type="qdt:StringType">
                    <xs:annotation>
                        <xs:documentation>is identifier of the agency owns this ID </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="agencyName" type="qdt:StringType">
                    <xs:annotation>
                        <xs:documentation>is name of the agency owns this ID </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="agencyRole" type="qdt:StringType">
                    <xs:annotation>
                        <xs:documentation>is role of the agency for this ID</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:complexType>
            <xs:complexType name="EntityDateListType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:EntityDate">
                        <xs:annotation>
                            <xs:documentation>This date type allows to provide various date types for associating entity.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntityDateType">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute ref="tns:type" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="PartyIDsType">
                <xs:annotation>
                    <xs:documentation>Contain the ids for a given party. These ids may be assigned by multiple organizations.</xs:documentation>
                </xs:annotation>
                <xs:group ref="tns:PartyIDsGroup"/>
            </xs:complexType>
            <xs:complexType abstract="true" name="StatusBaseType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:Code">
                        <xs:annotation>
                            <xs:documentation>Element for the communication of all codes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:Description"/>
                    <xs:element minOccurs="0" name="ReasonCode" type="dt:CodeType">
                        <xs:annotation>
                            <xs:documentation>Identifies the reason for an activity</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StatusType">
                <xs:complexContent>
                    <xs:extension base="tns:StatusBaseType"/>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="TrackingInfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:TrackID">
                        <xs:annotation>
                            <xs:documentation>This is the ID used for tracking the status of a job or request.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:TrackURL">
                        <xs:annotation>
                            <xs:documentation>This the Tracking URL that can be used to track the current status of the request or job.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="TrackStatus" type="tns:TrackingStatusType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TrackingStatusType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:Code">
                        <xs:annotation>
                            <xs:documentation>Element for the communication of all codes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:Description"/>
                    <xs:element minOccurs="0" name="StatusUpdateDateTime" type="qdt:DateTimeType"/>
                    <xs:element minOccurs="0" name="ReasonCode" type="dt:CodeType">
                        <xs:annotation>
                            <xs:documentation>Identifies the reason for an activity</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionType">
                <xs:annotation>
                    <xs:documentation>A type defining a transaction.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:ID">
                        <xs:annotation>
                            <xs:documentation>Is the Identifiers of the given instance of an entity within the scope of the integration. 
				The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:Name">
                        <xs:annotation>
                            <xs:documentation>Identifies the Name of the object in which associated.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:Description"/>
                    <xs:element minOccurs="0" ref="tns:ChannelCode">
                        <xs:annotation>
                            <xs:documentation>Identifies the channel in which the associated entity comes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Date" type="qdt:DateType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccountID" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>Identifier of the account</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AlternateDocumentID" type="tns:DocumentIDType">
                <xs:annotation>
                    <xs:documentation>Is the alternate document id for the associated document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthDateTime" type="qdt:DateTimeType">
                <xs:annotation>
                    <xs:documentation>Is the date and time that an individual was born.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ChannelCode" type="dt:CodeType">
                <xs:annotation>
                    <xs:documentation>Identifies the channel in which the associated entity comes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Code" type="dt:CodeType">
                <xs:annotation>
                    <xs:documentation>Element for the communication of all codes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DeathDateTime" type="qdt:DateTimeType">
                <xs:annotation>
                    <xs:documentation>Is the date and time that an individual died.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DepartmentName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>Name of the Department</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="DocumentID" type="tns:DocumentIDType">
                <xs:annotation>
                    <xs:documentation>Is the primary document id for the document associated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EffectiveDateTime" type="qdt:DateTimeType">
                <xs:annotation>
                    <xs:documentation>This is the DateTime the associated object is made effective</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EntityDate" type="tns:EntityDateType">
                <xs:annotation>
                    <xs:documentation>This date type allows to provide various date types for associating entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EntityDateList" type="tns:EntityDateListType"/>
            <xs:element name="EthnicOrigin" type="dt:TextType">
                <xs:annotation>
                    <xs:documentation>The concept of ethnic origin is an attempt to classify people, not according to their current nationality, but according to where their ancestors came from. ...</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>A given name is a personal name that specifies and differentiates between 
				members of a group of individuals, especially in a family, all of whose members usually share
				the same family name (surname). 
				A given name is a name given to a person, as opposed to an inherited one such as a family name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GenderCode" type="dt:CodeType">
                <xs:annotation>
                    <xs:documentation>A Code indicating the sex of the individual in which it is associated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>Is the Identifiers of the given instance of an entity within the scope of the integration. 
				The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="JobTitle" type="dt:TextType">
                <xs:annotation>
                    <xs:documentation>Is the position or designation of the pesron with whom associated within the given organization. Examples are Director, Software Engineer, Purchasing Manager etc</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation> family name (in Western contexts often referred to as a last name) is a type of surname and part of 
				a person's name indicating the family to which the person belongs. The use of family names is widespread in 
				cultures around the world. ...</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaidenName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>the original surname (last name) of a woman (as opposed to her married name).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaritalStatusCode" type="dt:CodeType">
                <xs:annotation>
                    <xs:documentation>A code indicating the martial status of the individual in which it is associated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>People's names in several countries include one or more middle names, 
				placed between the first given name and the surname. In most such countries, except
				Northern America, this notion of middle name does not exist, and those names are considered 
				as a second, third, etc. given name. ...</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>Identifies the Name of the object in which associated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nationality" type="dt:TextType">
                <xs:annotation>
                    <xs:documentation>Nationality is membership of a nation or sovereign state. Nationality can be acquired by being born within the jurisdiction of a state, 
				by inheriting it from parents, or by a process of naturalization. ...</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NickName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>a familiar name for a person (often a shortened version of a person's given name) 
				"Joe's mother would not use his nickname and always called him Joseph"; "Henry's nickname was Slim"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Number" type="qdt:IntegerNumericType">
                <xs:annotation>
                    <xs:documentation>
				System assigned number of the associated entity. 
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PartyIDs" type="tns:PartyIDsType">
                <xs:annotation>
                    <xs:documentation>Contains the set of possible identifiers for an associated Party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prefix" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>Prefixes precede the name and should not be included in he name field.  Prefixes include Mr., Mrs., Ms., Miss and Dr.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrimeLineNumber" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>Is the Line Number of the given Line Component within the document. LineNumbers are assigned by the sending system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Reason" type="dt:TextType"/>
            <xs:element name="ReasonCode" type="dt:CodeType"/>
            <xs:element name="Responsibility" type="dt:TextType">
                <xs:annotation>
                    <xs:documentation>A text description of the responsibility of the associated entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SalutationPreferredName" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>Way the person is addressed e.g. Honorable etc?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="tns:StatusType">
                <xs:annotation>
                    <xs:documentation> Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubLineNumber" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>Is the SubLine Number of the given Line Component within the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Suffix" type="dt:NameType">
                <xs:annotation>
                    <xs:documentation>A name suffix, in the Western English-language naming tradition, follows a person’s full name 
				and provides additional information about the person. Post-nominal letters indicate that the individual holds a 
				position, educational degree, accreditation, office or honour.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SystemID" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>The Entity Id of the associated object for the given system in systemId tag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaxID" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>Identifier for a business or individual provided by the government. This maybe a FIIN, Social Security Number, or Drivers License Number to name a few.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Title" type="dt:TextType">
                <xs:annotation>
                    <xs:documentation>A title is a prefix or suffix added to someone's name to signify either veneration, 
				an official position or a professional or academic qualification. ...</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrackID" type="dt:IdentifierType">
                <xs:annotation>
                    <xs:documentation>This is the ID used for tracking the status of a job or request.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrackURL" type="dt:TextType">
                <xs:annotation>
                    <xs:documentation>This the Tracking URL that can be used to track the current status of the request or job.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrackingInfo" type="tns:TrackingInfoType">
                <xs:annotation>
                    <xs:documentation> This is used for  tracking details for request or Job </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UserArea" type="dt:UserAreaType">
                <xs:annotation>
                    <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:attribute name="category" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>category of associating object</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="createDateTime" type="qdt:DateTimeType"/>
            <xs:attribute name="languageCode" type="qdt:NormalizedStringType">
                <xs:annotation>
                    <xs:documentation>A language code is a code that assigns letters or numbers as identifiers for languages. 
				These codes are often used to organize library collections, to choose the correct localizations and 
				translations in computing, and as a shorthand designation for forms.
			</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="languagePreference" type="qdt:NormalizedStringType"/>
            <xs:attribute name="operationCode" type="qdt:NormalizedStringType">
                <xs:annotation>
                    <xs:documentation>This code denotes requested operation on entity
			</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="preferedIndicator" type="qdt:BooleanType">
                <xs:annotation>
                    <xs:documentation>
				Preference  
			</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="preferrence" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation> indicates the </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="primary" type="qdt:BooleanType">
                <xs:annotation>
                    <xs:documentation>This attribute determines primary status of the associate object.
			</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sourceID" type="qdt:NormalizedStringType"/>
            <xs:attribute name="type" type="qdt:NormalizedStringType">
                <xs:annotation>
                    <xs:documentation>Type property can be used to define type of the document</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:group name="PartyIDsGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:ID">
                        <xs:annotation>
                            <xs:documentation>Is the Identifiers of the given instance of an entity within the scope of the integration. 
				The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:TaxID">
                        <xs:annotation>
                            <xs:documentation>Identifier for a business or individual provided by the government. This maybe a FIIN, Social Security Number, or Drivers License Number to name a few.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:group>
            <xs:group name="PersonNameGroup">
                <xs:annotation>
                    <xs:documentation>Person name group</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Title">
                        <xs:annotation>
                            <xs:documentation>A title is a prefix or suffix added to someone's name to signify either veneration, 
				an official position or a professional or academic qualification. ...</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:SalutationPreferredName">
                        <xs:annotation>
                            <xs:documentation>Way the person is addressed e.g. Honorable etc?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:FirstName">
                        <xs:annotation>
                            <xs:documentation>A given name is a personal name that specifies and differentiates between 
				members of a group of individuals, especially in a family, all of whose members usually share
				the same family name (surname). 
				A given name is a name given to a person, as opposed to an inherited one such as a family name.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:MiddleName">
                        <xs:annotation>
                            <xs:documentation>People's names in several countries include one or more middle names, 
				placed between the first given name and the surname. In most such countries, except
				Northern America, this notion of middle name does not exist, and those names are considered 
				as a second, third, etc. given name. ...</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:LastName">
                        <xs:annotation>
                            <xs:documentation> family name (in Western contexts often referred to as a last name) is a type of surname and part of 
				a person's name indicating the family to which the person belongs. The use of family names is widespread in 
				cultures around the world. ...</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:MaidenName">
                        <xs:annotation>
                            <xs:documentation>the original surname (last name) of a woman (as opposed to her married name).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:NickName">
                        <xs:annotation>
                            <xs:documentation>a familiar name for a person (often a shortened version of a person's given name) 
				"Joe's mother would not use his nickname and always called him Joseph"; "Henry's nickname was Slim"</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:Prefix">
                        <xs:annotation>
                            <xs:documentation>Prefixes precede the name and should not be included in he name field.  Prefixes include Mr., Mrs., Ms., Miss and Dr.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="tns:Suffix">
                        <xs:annotation>
                            <xs:documentation>A name suffix, in the Western English-language naming tradition, follows a person’s full name 
				and provides additional information about the person. Post-nominal letters indicate that the individual holds a 
				position, educational degree, accreditation, office or honour.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:group>
            <xs:attributeGroup name="IDAttributeGroup">
                <xs:annotation>
                    <xs:documentation> </xs:documentation>
                </xs:annotation>
                <xs:attribute name="agencyID" type="qdt:StringType">
                    <xs:annotation>
                        <xs:documentation>is identifier of the agency owns this ID </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="agencyName" type="qdt:StringType">
                    <xs:annotation>
                        <xs:documentation>is name of the agency owns this ID </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="agencyRole" type="qdt:StringType">
                    <xs:annotation>
                        <xs:documentation>is role of the agency for this ID</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:attributeGroup>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bestbuy.com/bbym/logistics/manifest/fields/v1" xmlns:dt="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:tns="http://bestbuy.com/bbym/logistics/manifest/fields/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1"/>
            <xs:annotation>
                <xs:documentation>Defines common fields used within manifest services.</xs:documentation>
            </xs:annotation>
            <xs:complexType name="DateRange">
                <xs:annotation>
                    <xs:documentation>Date range in which start and end date fields are optional.
The date range may be bounded by start date, end date, or both.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="StartDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="EndDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GenerateManifestDocRequestType">
                <xs:sequence>
                    <xs:element name="StoreID" type="xs:string"/>
                    <xs:element name="ManifestID" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GenerateManifestDocResponseType">
                <xs:sequence>
                    <xs:element name="ManifestDoc" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="IMEI_ESN_Type">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="ItemTagType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:complexType name="ManifestAddRequestType">
                <xs:annotation>
                    <xs:documentation>Defines common fields for manifest service requests</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="ManifestID" type="dt:IntegerNumericType"/>
                    <xs:element name="StoreID" type="dt:IntegerNumericType"/>
                    <xs:element name="UserID" type="xs:string"/>
                    <xs:element name="TransactionDateTime" type="xs:dateTime"/>
                    <xs:element name="ItemTag" type="tns:ItemTagType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ManifestHeaderType">
                <xs:annotation>
                    <xs:documentation>Defines manifest header fields</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ManifestID" type="dt:IntegerNumericType"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="DeviceCount" type="dt:IntegerNumericType"/>
                    <xs:element minOccurs="0" name="TrackingIdentifier" type="tns:PackageTrackingIdType"/>
                    <xs:element name="DayCreated" type="xs:string"/>
                    <xs:element name="DateTimeCreated" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="ShipScheduledDateTime" type="xs:dateTime"/>
                    <xs:element name="CreatedByUser" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="ManifestLine" type="tns:ManifestLineItemType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ManifestLineItemType">
                <xs:annotation>
                    <xs:documentation>Defines fields within a manifest line item</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ManifestID" type="dt:IntegerNumericType">
                        <xs:annotation>
                            <xs:documentation>Unique identifer for the manifest</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ManifestLineID" type="dt:IntegerNumericType">
                        <xs:annotation>
                            <xs:documentation>Unique identifier for the manifest line</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ItemTag" type="tns:ItemTagType">
                        <xs:annotation>
                            <xs:documentation>Identifier for the device being returned</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DeviceStatus" type="xs:string"/>
                    <xs:element name="IMEI_ESN" type="tns:IMEI_ESN_Type">
                        <xs:annotation>
                            <xs:documentation>Unique serial number for the device.  Depending on the manufacturer, either an IMEI or ESN.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Make" type="xs:string"/>
                    <xs:element name="Model" type="xs:string"/>
                    <xs:element name="ReturnType" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Code for the type of return (trade in, buy back, exchange, buyers remorse)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProductDescription" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ManifestListType">
                <xs:annotation>
                    <xs:documentation>Collection of Manifests</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Manifest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ManifestRemoveLineType">
                <xs:annotation>
                    <xs:documentation>Defines common fields for manifest remove line request</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ManifestID" type="dt:IntegerNumericType"/>
                    <xs:element name="ManifestLineID" type="dt:IntegerNumericType"/>
                    <xs:element name="StoreID" type="dt:IntegerNumericType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ManifestRemoveType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ManifestRequest" type="tns:ManifestRemoveLineType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ManifestSearchType">
                <xs:annotation>
                    <xs:documentation>Defines criteria for manifest search requests
Criteria objects define an intersection for the search results (e.g. an AND condition).
For example, Status=OPEN with StoreID=298 represents all OPEN manifests for store ID 298.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="StoreID" type="dt:IntegerNumericType">
                        <xs:annotation>
                            <xs:documentation>Specifies the location/store identifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ManifestStatus" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Specifies the manifest status </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="MostRecentNumber">
                        <xs:annotation>
                            <xs:documentation>Specifies the number of manifests to return when requesting the most recent.
The presence of this field automatically denotes a search for most recent.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="dt:IntegerNumericType">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TransactionDateRange" type="tns:DateRange">
                        <xs:annotation>
                            <xs:documentation>Date range for the search.  Both the start and end dates are inclusive.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element minOccurs="0" name="IMEI_ESN" type="tns:IMEI_ESN_Type">
                            <xs:annotation>
                                <xs:documentation>Specifies the serial number (IMEI or ESN)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="ItemTag" type="tns:ItemTagType">
                            <xs:annotation>
                                <xs:documentation>Specifies the item tag</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                    <xs:element minOccurs="0" name="TrackingIdentifier" type="tns:PackageTrackingIdType">
                        <xs:annotation>
                            <xs:documentation>Specifies the shipping tracking identifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ManifestID" type="dt:IntegerNumericType">
                        <xs:annotation>
                            <xs:documentation>Unique identifer for the manifest</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="PackageTrackingIdType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:element name="GenerateManifestDocRequest" type="tns:GenerateManifestDocRequestType"/>
            <xs:element name="GenerateManifestDocResponse" type="tns:GenerateManifestDocResponseType"/>
            <xs:element name="Manifest" type="tns:ManifestHeaderType"/>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tsh.bestbuy.com/tsh/tshfault" xmlns:cf="http://www.tsh.bestbuy.com/common/v1" xmlns:dt="http://www.tsh.bestbuy.com/common/datatype/v1" xmlns:tns="http://tsh.bestbuy.com/tsh/tshfault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/datatype/v1"/>
            <xs:import namespace="http://www.tsh.bestbuy.com/common/v1"/>
            <xs:annotation>
                <xs:documentation>-----------------------------------------------------------------------------------------------------
		</xs:documentation>
                <xs:documentation> Version: 1.0         </xs:documentation>
                <xs:documentation> Project Name : TagSuperHighWay </xs:documentation>
                <xs:documentation> Description : This XSD contains the exception
			format for TagSuperHighway Project. This file refers
			QualifiedDataType.xsd for the Data Types .  												</xs:documentation>
                <xs:documentation>-----------------------------------------------------------------------------------------------------
		</xs:documentation>
            </xs:annotation>
            <xs:annotation>
                <xs:documentation>This is for the service detail fields

			1. Service -
			Name of the service where the exception occurred.
			2. ProcessId -
			Instance Id of the process
			3. DomainName - This is the domain to
			Service belongs
			4. ServerName - The name of the Integration Server or
			Integration
			Hostname of where the service failed.
			5. ApplicationName -
			The name of the source/target system where the
			exception occurred.
			6.
			ExceptionCode - The internal exception code generated by the target
			application.
			7. ExceptionType - The type of exception identified by
			the fully
			qualified exception name
			8. ExceptionMessage - The complete
			exception message returned by the
			application or service.
			9.
			ExceptionAdditionalInfo - A field provided to store additional
			exception related information. An example would be a value indicating
			the level at which the exception occurred.
			10. LogMessage - A field
			provided to store integration process specific
			log data.
			11.
			ExceptionTimeStamp - The timestamp when the exception occurred

		</xs:documentation>
            </xs:annotation>
            <xs:simpleType name="FaultTypeEnumeration">
                <xs:annotation>
                    <xs:documentation>Enumerations for the Indicator for Error or Warning
			</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ERROR"/>
                    <xs:enumeration value="WARNING"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="TSHFaultType">
                <xs:annotation>
                    <xs:documentation>Provides information about TSH Fault generated for
				TSH service</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="SourceID" type="dt:TextType">
                        <xs:annotation>
                            <xs:documentation> Provides the SourceID of the TSH fault.
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="SourceName" type="dt:TextType">
                        <xs:annotation>
                            <xs:documentation>Provide the Source Name from which the fault was
						generated.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Fault" type="tns:faultType">
                        <xs:annotation>
                            <xs:documentation>Returns information about the Fault Data like
						ErrorCode, Error Message.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Status" type="dt:TextType">
                        <xs:annotation>
                            <xs:documentation>Provides the status of TSH Fault.
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceDetails" type="tns:serviceDetailsType"/>
                    <xs:element ref="cf:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="faultType">
                <xs:annotation>
                    <xs:documentation>Returns information about the Fault Data like
				ErrorCode, Error Message</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="Code" type="dt:TextType">
                        <xs:annotation>
                            <xs:documentation>Returns the Error code or the Exception Code.
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Message" type="dt:TextType">
                        <xs:annotation>
                            <xs:documentation>
						Returns the Error message based on the Error Code
						or Exception Code.
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Detail" type="dt:TextType">
                        <xs:annotation>
                            <xs:documentation>
						Returns the Detailed description of error which
						includes Error code and Error message.
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="type" type="tns:FaultTypeEnumeration"/>
            </xs:complexType>
            <xs:complexType name="serviceDetailsType">
                <xs:annotation>
                    <xs:documentation>Information about the Service details .
			</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="Service" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ProcessId" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="DomainName" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ServerName" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ApplicationName" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ExceptionCode" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ExceptionType" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ExceptionMessage" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ExceptionAdditionalInfo" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="LogMessage" type="dt:TextType"/>
                    <xs:element minOccurs="0" name="ExceptionTimeStamp" type="dt:TextType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TSHFault" type="tns:TSHFaultType">
                <xs:annotation>
                    <xs:documentation>This XSD provides information about TSH Fault
				generated for TSH service</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bestbuy.com/bbym/logistics/manifest/service/v1" xmlns:common="http://www.tsh.bestbuy.com/common/v1" xmlns:fields="http://bestbuy.com/bbym/logistics/manifest/fields/v1" xmlns:meta="http://www.tsh.bestbuy.com/common/metadata/components/v2" xmlns:tns="http://bestbuy.com/bbym/logistics/manifest/service/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/metadata/components/v2"/>
            <xs:import namespace="http://www.tsh.bestbuy.com/common/v1"/>
            <xs:import namespace="http://bestbuy.com/bbym/logistics/manifest/fields/v1"/>
            <xs:annotation>
                <xs:documentation>Defines schemas used for creating and removing items from manifests.</xs:documentation>
            </xs:annotation>
            <xs:complexType name="AddToManifestRequestType">
                <xs:annotation>
                    <xs:documentation>Defines content for adding items to a manifest.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="RequestMetaData" type="meta:RequestMetaDataType"/>
                    <xs:element name="InternationBusinessHierarchy" type="meta:InternationalBusinessHierarchyType"/>
                    <xs:element name="ManifestRequest" type="fields:ManifestAddRequestType"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddToManifestResponseType">
                <xs:annotation>
                    <xs:documentation>Defines objects returned when requesting to add to a manifest.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="ResponseMetaData" type="meta:ResponseMetaDataType">
                        <xs:annotation>
                            <xs:documentation>Defines objects returned when requesting to add to a manifest.
The status is provided in the Status element.
Information about the manifest and new manifest line item are provided in the ManifestLine element.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="common:Status">
                        <xs:annotation>
                            <xs:documentation> Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ManifestLine" type="fields:ManifestLineItemType"/>
                    <xs:element minOccurs="0" name="ValidationWarning" type="xs:string"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GenerateManifestDocumentRequestType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="RequestMetaData" type="meta:RequestMetaDataType"/>
                    <xs:element minOccurs="0" name="InternationBusinessHierarchy" type="meta:InternationalBusinessHierarchyType"/>
                    <xs:element ref="fields:GenerateManifestDocRequest"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GenerateManifestDocumentResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ResponseMetaData" type="meta:ResponseMetaDataType"/>
                    <xs:element ref="common:Status">
                        <xs:annotation>
                            <xs:documentation> Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="fields:GenerateManifestDocResponse"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemoveFromManifestRequestType">
                <xs:annotation>
                    <xs:documentation>Defines the objects and structure for removing items from a manifest.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="RequestMetaData" type="meta:RequestMetaDataType"/>
                    <xs:element name="InternationBusinessHierarchy" type="meta:InternationalBusinessHierarchyType"/>
                    <xs:element name="RemoveLines" type="fields:ManifestRemoveType"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemoveFromManifestResponseType">
                <xs:annotation>
                    <xs:documentation>Defines the objects contained in the response schema.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="ResponseMetaData" type="meta:ResponseMetaDataType"/>
                    <xs:element ref="common:Status">
                        <xs:annotation>
                            <xs:documentation> Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ManifestDeleted" type="xs:boolean"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchForManifestsRequestType">
                <xs:annotation>
                    <xs:documentation>Defines content for searching for manifests.
At least one of the search criteria sub-elements must be specified.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="RequestMetaData" type="meta:RequestMetaDataType"/>
                    <xs:element name="InternationBusinessHierarchy" type="meta:InternationalBusinessHierarchyType"/>
                    <xs:element name="SearchCriteria" type="fields:ManifestSearchType"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchForManifestsResponseType">
                <xs:annotation>
                    <xs:documentation>Defines the objects contained in the response schema.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="ResponseMetaData" type="meta:ResponseMetaDataType"/>
                    <xs:element ref="common:Status">
                        <xs:annotation>
                            <xs:documentation> Indicates the status of the associated object by providing the Status Code along with a description and when the status is effective.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Manifests" type="fields:ManifestListType"/>
                    <xs:element minOccurs="0" ref="common:UserArea">
                        <xs:annotation>
                            <xs:documentation>Allows the Tag Super Highway schema data model to extend the specification in order to provide additional information that is not captured in Canonical Schema.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AddToManifestRequest" type="tns:AddToManifestRequestType">
                <xs:annotation>
                    <xs:documentation>Defines objects for requesting an item to be added to a manifest.
If the ManifestRequest/ManifestID is populated, a new line item will be added to the existing manifest.  Otherwise, a new manifest will be created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddToManifestResponse" type="tns:AddToManifestResponseType"/>
            <xs:element name="GenerateManifestDocumentRequest" type="tns:GenerateManifestDocumentRequestType"/>
            <xs:element name="GenerateManifestDocumentResponse" type="tns:GenerateManifestDocumentResponseType"/>
            <xs:element name="RemoveFromManifestRequest" type="tns:RemoveFromManifestRequestType">
                <xs:annotation>
                    <xs:documentation>Defines the structure and content for requesting a removal of a line item from a manifest.
InternationalBusinessHierarchy and ManifestRequest elements must be populated for the request to complete successfully.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RemoveFromManifestResponse" type="tns:RemoveFromManifestResponseType">
                <xs:annotation>
                    <xs:documentation>Defines the objects contained in the response schema.
If the operation resulted in the manifest also getting deleted, the ManifestDeleted flag will be set to true.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SearchForManifestsRequest" type="tns:SearchForManifestsRequestType"/>
            <xs:element name="SearchForManifestsResponse" type="tns:SearchForManifestsResponseType"/>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tsh.bestbuy.com/common/datatype/v1" xmlns:qdt="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:tns="http://www.tsh.bestbuy.com/common/datatype/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1"/>
            <xs:annotation>
                <xs:documentation> This schema defines custom datatypes used by other TSH schemas.</xs:documentation>
            </xs:annotation>
            <xs:complexType name="CodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
				A character string (letters, figures, or symbols) that for brevity and/or 
				languange independence may be used to represent or replace a definitive value
				or text of an attribute together with relevant supplementary information.
			</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:normalizedString">
                        <xs:attribute name="name" type="xs:string">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
							The textual equivalent of the code content component.
						</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FlagType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
				Flag Type
			</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:string"/>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IdentifierType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
				A character string to identify and distinguish uniquely, one instance 
				of an object in an identification scheme from all other objects in the same 
				scheme together with relevant supplementary information.
			</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:normalizedString">
                        <xs:attribute name="type" type="qdt:NormalizedStringType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
							type assigned to the identifier.
						</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="IndicatorType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
				A list of two mutually exclusive Boolean values that express the only possible state
				of a property.
			</xs:documentation>
                </xs:annotation>
                <xs:restriction base="qdt:BooleanType">
                    <xs:pattern value="false"/>
                    <xs:pattern value="true"/>
                    <xs:pattern value="0"/>
                    <xs:pattern value="1"/>
                    <xs:pattern value="yes"/>
                    <xs:pattern value="no"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="KeyType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
				A character string used to identify.
			</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:normalizedString"/>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="MeasureType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
				A numeric value determined by measuring an object along with the 
				specified unit of measure.
			</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="unitCode" type="qdt:StringType" use="required">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
							The type of unit of measure.
						</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="MinorVersionType">
                <xs:restriction base="xs:nonNegativeInteger">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="99"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="NameType">
                <xs:simpleContent>
                    <xs:extension base="xs:string"/>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="NameValueType">
                <xs:sequence>
                    <xs:element name="name" type="tns:KeyType"/>
                    <xs:element name="value" type="tns:TextType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SequencedNameType">
                <xs:simpleContent>
                    <xs:extension base="tns:NameType">
                        <xs:attribute name="sequence" type="xs:positiveInteger"/>
                        <xs:attribute name="sequenceName" type="xs:normalizedString"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="SequencedTextType">
                <xs:simpleContent>
                    <xs:extension base="tns:TextType">
                        <xs:attribute name="sequence" type="xs:positiveInteger"/>
                        <xs:attribute name="sequenceName" type="xs:normalizedString"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="TextType">
                <xs:simpleContent>
                    <xs:extension base="xs:string"/>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="UserAreaType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="strict"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ENTER_NAME_OF_ROOT_ELEMENT_HERE" type="xs:anyType">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tsh.bestbuy.com/common/metadata/fields/v1" version="1.0" xmlns:dt="http://www.tsh.bestbuy.com/common/datatype/v1" xmlns:qdt="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:tns="http://www.tsh.bestbuy.com/common/metadata/fields/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/datatype/v1"/>
            <xs:import namespace="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1"/>
            <xs:annotation>
                <xs:documentation> This schema defines various fields required to define business and technical metadata for TSH requests.</xs:documentation>
            </xs:annotation>
            <xs:element name="Brand" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>
				A distinct banner under which business is
				operated (usually visible to the customer)
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BusinessUnit" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>
				An organizational sub unit which may hold
				P&amp;L responsibility
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Channel" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>
				The medium under which business is operated
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Company" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>
				One or more legal entities which reside /
				operate in the particular countries under a
				given Trading Area.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Enterprise" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>
				The overall Best Buy. INC Corporation
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Environment" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>This  element (of type String) defines environment type which is used to process the message. 
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MessageID" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>This MENDATORY element (of type String) conveys unique [message id] property. 
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProgramID" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>Program Id of the application which is originating this object
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestTimeStamp" type="qdt:DateTimeType">
                <xs:annotation>
                    <xs:documentation>is the date time stamp that the given instance of the message was created by originating system. 
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponseTimeStamp" type="qdt:DateTimeType">
                <xs:annotation>
                    <xs:documentation>is the date time stamp that the given instance of the message was created in response to original MessageID. 
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SourceID" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>The Id of the source system which is originating this object.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradingArea" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>
				A distinct Geographic region comprising of one
				or more countries: US, Canada, China, UK,
				Mexico. This will be implemented as the ISO
				Standard 3166: 2 Character Country code.
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UserID" type="qdt:StringType">
                <xs:annotation>
                    <xs:documentation>User Identifier from the application who requests for the object creation
			</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Version" type="dt:MinorVersionType">
                <xs:annotation>
                    <xs:documentation source="SOA Governance Documentation. ID# DEV-003-R-0003 Minor version increment"> Whenever service interface is changed in such a way that the
				new service is backward compatible with existing deployments, minor version of service interface MUST be incremented.
				Major version will remain same in this case. In cases where the consumers are invoking the existing definitions of the 
				service and not the new compatible changes in the service, the minor version in request message can continue to be the 
				older value before the change.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tsh.bestbuy.com/common/metadata/components/v2" version="1.0" xmlns:data="http://www.tsh.bestbuy.com/common/metadata/fields/v1" xmlns:tns="http://www.tsh.bestbuy.com/common/metadata/components/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.tsh.bestbuy.com/common/metadata/fields/v1"/>
            <xs:annotation>
                <xs:documentation>
			Defines top level complex components for Metadata type.
		</xs:documentation>
            </xs:annotation>
            <xs:complexType name="InternationalBusinessHierarchyType">
                <xs:annotation>
                    <xs:documentation>International Business Hierarchy structure</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" ref="data:Enterprise">
                        <xs:annotation>
                            <xs:documentation>
				The overall Best Buy. INC Corporation
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:TradingArea">
                        <xs:annotation>
                            <xs:documentation>
				A distinct Geographic region comprising of one
				or more countries: US, Canada, China, UK,
				Mexico. This will be implemented as the ISO
				Standard 3166: 2 Character Country code.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:Company">
                        <xs:annotation>
                            <xs:documentation>
				One or more legal entities which reside /
				operate in the particular countries under a
				given Trading Area.
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:Brand">
                        <xs:annotation>
                            <xs:documentation>
				A distinct banner under which business is
				operated (usually visible to the customer)
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:BusinessUnit">
                        <xs:annotation>
                            <xs:documentation>
				An organizational sub unit which may hold
				P&amp;L responsibility
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:Channel">
                        <xs:annotation>
                            <xs:documentation>
				The medium under which business is operated
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="MessageMetatDataBaseType">
                <xs:annotation>
                    <xs:documentation>Metadata base type to define  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" ref="data:Version">
                        <xs:annotation>
                            <xs:documentation source="SOA Governance Documentation. ID# DEV-003-R-0003 Minor version increment"> Whenever service interface is changed in such a way that the
				new service is backward compatible with existing deployments, minor version of service interface MUST be incremented.
				Major version will remain same in this case. In cases where the consumers are invoking the existing definitions of the 
				service and not the new compatible changes in the service, the minor version in request message can continue to be the 
				older value before the change.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:SourceID">
                        <xs:annotation>
                            <xs:documentation>The Id of the source system which is originating this object.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:UserID">
                        <xs:annotation>
                            <xs:documentation>User Identifier from the application who requests for the object creation
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:ProgramID">
                        <xs:annotation>
                            <xs:documentation>Program Id of the application which is originating this object
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="data:MessageID">
                        <xs:annotation>
                            <xs:documentation>This MENDATORY element (of type String) conveys unique [message id] property. 
			</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestMetaDataType">
                <xs:complexContent>
                    <xs:extension base="tns:MessageMetatDataBaseType">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="RequestTimeStamp" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ResponseMetaDataType">
                <xs:complexContent>
                    <xs:extension base="tns:MessageMetatDataBaseType">
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="data:Environment">
                                <xs:annotation>
                                    <xs:documentation>This  element (of type String) defines environment type which is used to process the message. 
			</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="ResponseTimeStamp" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:tns="http://www.tsh.bestbuy.com/common/qualifiled/datatype/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:annotation>
                <xs:documentation>
			Version 1.0.0
			Provides wrapper around standard schema datatypes 
		</xs:documentation>
            </xs:annotation>
            <xs:simpleType name="BooleanType">
                <xs:annotation>
                    <xs:documentation>boolean represents true and false status</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:boolean"/>
            </xs:simpleType>
            <xs:simpleType name="DateTimeType">
                <xs:annotation>
                    <xs:documentation>Date/Time represents date with month,day and year</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:dateTime"/>
            </xs:simpleType>
            <xs:simpleType name="DateType">
                <xs:annotation>
                    <xs:documentation>Date represents date with month,day and year</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date"/>
            </xs:simpleType>
            <xs:simpleType name="DayDateType">
                <xs:annotation>
                    <xs:documentation>Day of a Month. A string value</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="01"/>
                    <xs:enumeration value="02"/>
                    <xs:enumeration value="03"/>
                    <xs:enumeration value="04"/>
                    <xs:enumeration value="05"/>
                    <xs:enumeration value="06"/>
                    <xs:enumeration value="07"/>
                    <xs:enumeration value="08"/>
                    <xs:enumeration value="09"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                    <xs:enumeration value="13"/>
                    <xs:enumeration value="14"/>
                    <xs:enumeration value="15"/>
                    <xs:enumeration value="16"/>
                    <xs:enumeration value="17"/>
                    <xs:enumeration value="18"/>
                    <xs:enumeration value="19"/>
                    <xs:enumeration value="20"/>
                    <xs:enumeration value="21"/>
                    <xs:enumeration value="22"/>
                    <xs:enumeration value="23"/>
                    <xs:enumeration value="24"/>
                    <xs:enumeration value="25"/>
                    <xs:enumeration value="26"/>
                    <xs:enumeration value="27"/>
                    <xs:enumeration value="28"/>
                    <xs:enumeration value="29"/>
                    <xs:enumeration value="30"/>
                    <xs:enumeration value="31"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="DecimalNumericType">
                <xs:annotation>
                    <xs:documentation>The double datatype corresponds to IEEE decimal data type. </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal"/>
            </xs:simpleType>
            <xs:simpleType name="DoubleNumericType">
                <xs:annotation>
                    <xs:documentation> double datatype corresponds to IEEE double-precision 64-bit floating point type. </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:double"/>
            </xs:simpleType>
            <xs:simpleType name="DurationMeasureType">
                <xs:annotation>
                    <xs:documentation>duration represents a duration of time. </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:duration"/>
            </xs:simpleType>
            <xs:simpleType name="FloatNumericType">
                <xs:annotation>
                    <xs:documentation>float corresponds to the IEEE single-precision 32-bit floating point type . 
				</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:float"/>
            </xs:simpleType>
            <xs:simpleType name="IntegerNumericType">
                <xs:annotation>
                    <xs:documentation>integer is derived from decimal by fixing the value of fractionDigits to be 0. </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="LongType">
                <xs:annotation>
                    <xs:documentation>long represents long integer</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="MonthDateType">
                <xs:annotation>
                    <xs:documentation>Month of the Year. A String Value</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="01"/>
                    <xs:enumeration value="02"/>
                    <xs:enumeration value="03"/>
                    <xs:enumeration value="04"/>
                    <xs:enumeration value="05"/>
                    <xs:enumeration value="06"/>
                    <xs:enumeration value="07"/>
                    <xs:enumeration value="08"/>
                    <xs:enumeration value="09"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NormalizedStringType">
                <xs:annotation>
                    <xs:documentation>normalized String represents white space normalized strings. 
			</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:normalizedString"/>
            </xs:simpleType>
            <xs:simpleType name="StringType">
                <xs:annotation>
                    <xs:documentation>The string datatype represents character strings in XML. 
			</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="TokenType">
                <xs:annotation>
                    <xs:documentation>token represents tokenized strings. </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:token"/>
            </xs:simpleType>
            <xs:simpleType name="URIType">
                <xs:annotation>
                    <xs:documentation>anyURI represents a Uniform Resource Identifier Reference (URI).  </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:anyURI"/>
            </xs:simpleType>
            <xs:simpleType name="YearDateType">
                <xs:annotation>
                    <xs:documentation>gYear represents a gregorian calendar year. </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:gYear"/>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ManageManifest_v01.serviceagent">
        <wsdl:port binding="tns:ManageManifestPortTypeBinding" name="ManageManifestPortType">
            <soap:address location="https://tagservices.na.bestbuy.com/Logistics/ManageManifestServiceSoap"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ManageManifestPortType">
        <wsdl:documentation>ManageManifest Operations.</wsdl:documentation>
        <wsdl:operation name="GenerateManifestDoc">
            <wsdl:documentation>Generating Manifest Document Operation</wsdl:documentation>
            <wsdl:input message="tns:GenerateManifestDocRequest"/>
            <wsdl:output message="tns:GenerateManifestDocResponse"/>
            <wsdl:fault message="tns:ManageManifestFault" name="GenerateManifestDocFault"/>
        </wsdl:operation>
        <wsdl:operation name="SearchManifests">
            <wsdl:documentation>SearchManifest Operation.</wsdl:documentation>
            <wsdl:input message="tns:SearchManifestRequest"/>
            <wsdl:output message="tns:SearchManifestResponse"/>
            <wsdl:fault message="tns:ManageManifestFault" name="SearchManifestFault"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveManifestLine">
            <wsdl:documentation>RemoveManifestLine Operation.</wsdl:documentation>
            <wsdl:input message="tns:RemoveManifestLineRequest"/>
            <wsdl:output message="tns:RemoveManifestLineResponse"/>
            <wsdl:fault message="tns:ManageManifestFault" name="RemoveManifestLineFault"/>
        </wsdl:operation>
        <wsdl:operation name="AddManifestLine">
            <wsdl:documentation>AddManifestLine Operation.</wsdl:documentation>
            <wsdl:input message="tns:AddManifestLineRequest"/>
            <wsdl:output message="tns:AddManifestLineResponse"/>
            <wsdl:fault message="tns:ManageManifestFault" name="AddManifestLineFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ManageManifestPortTypeBinding" type="tns:ManageManifestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GenerateManifestDoc">
            <soap:operation soapAction="/BusinessServices/Proxy/AddManifestLine_v01/ManageManifest_v01.serviceagent//GenerateManifestDoc" style="document"/>
            <wsdl:input>
                <soap:body parts="GenerateManifestDocRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GenerateManifestDocumentResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenerateManifestDocFault">
                <soap:fault name="GenerateManifestDocFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SearchManifests">
            <soap:operation soapAction="/SearchManifests" style="document"/>
            <wsdl:input>
                <soap:body parts="SearchManifestRequests" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SearchManifestResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SearchManifestFault">
                <soap:fault name="SearchManifestFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RemoveManifestLine">
            <soap:operation soapAction="/RemoveManifestLine" style="document"/>
            <wsdl:input>
                <soap:body parts="RemoveManifestLineRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="RemoveManifestLineResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoveManifestLineFault">
                <soap:fault name="RemoveManifestLineFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AddManifestLine">
            <soap:operation soapAction="/AddManifestLine" style="document"/>
            <wsdl:input>
                <soap:body parts="AddManifestLineRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="AddManifestLineResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AddManifestLineFault">
                <soap:fault name="AddManifestLineFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GenerateManifestDocRequest">
        <wsdl:documentation>Request for Generating Manifest Document Operation</wsdl:documentation>
        <wsdl:part element="ns0:GenerateManifestDocumentRequest" name="GenerateManifestDocRequest"/>
    </wsdl:message>
    <wsdl:message name="GenerateManifestDocResponse">
        <wsdl:documentation>Response Message for Generate Manifest Document Operation</wsdl:documentation>
        <wsdl:part element="ns0:GenerateManifestDocumentResponse" name="GenerateManifestDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="ManageManifestFault">
        <wsdl:documentation>Fault List of ManageManifestFault.</wsdl:documentation>
        <wsdl:part element="ns1:TSHFault" name="ManageManifestFault"/>
    </wsdl:message>
    <wsdl:message name="SearchManifestRequest">
        <wsdl:documentation>Request List of SearchManifests Request</wsdl:documentation>
        <wsdl:part element="ns0:SearchForManifestsRequest" name="SearchManifestRequests"/>
    </wsdl:message>
    <wsdl:message name="SearchManifestResponse">
        <wsdl:documentation>Returns List of SearchManifests Response.</wsdl:documentation>
        <wsdl:part element="ns0:SearchForManifestsResponse" name="SearchManifestResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveManifestLineRequest">
        <wsdl:documentation>Request of RemoveManifestLine Request.</wsdl:documentation>
        <wsdl:part element="ns0:RemoveFromManifestRequest" name="RemoveManifestLineRequest"/>
    </wsdl:message>
    <wsdl:message name="RemoveManifestLineResponse">
        <wsdl:documentation>Response of RemoveManifestLine Response.</wsdl:documentation>
        <wsdl:part element="ns0:RemoveFromManifestResponse" name="RemoveManifestLineResponse"/>
    </wsdl:message>
    <wsdl:message name="AddManifestLineRequest">
        <wsdl:documentation>Request of AddManifestLine Request.</wsdl:documentation>
        <wsdl:part element="ns0:AddToManifestRequest" name="AddManifestLineRequest"/>
    </wsdl:message>
    <wsdl:message name="AddManifestLineResponse">
        <wsdl:documentation>Returns List of AddManifestLine Response.</wsdl:documentation>
        <wsdl:part element="ns0:AddToManifestResponse" name="AddManifestLineResponse"/>
    </wsdl:message>
</wsdl:definitions>