DailyRhythmPortal/primary-source/src/main/resources/log4j_schema/LOG4J.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema targetNamespace="http://jakarta.apache.org/log4j/" xmlns="http://jakarta.apache.org/log4j/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="appender" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="param" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="value" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="&apos;.&apos;yyyy-MM-dd"/>
												<xs:enumeration value="/opt/logs/ise/ISEApplication.Log"/>
												<xs:enumeration value="true"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="name" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Append"/>
												<xs:enumeration value="DatePattern"/>
												<xs:enumeration value="File"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="layout">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="param">
											<xs:complexType>
												<xs:attribute name="value" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="%-4r [%t] %-5p %c %x - %m%n"/>
															<xs:enumeration value="%d{yyyy.MM.dd HH:mm:ss:SSS} %5p &gt; %m%n"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="name" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="ConversionPattern"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="class" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="org.apache.log4j.PatternLayout"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ApplicationLogAppender"/>
									<xs:enumeration value="CA"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="class" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="org.apache.log4j.ConsoleAppender"/>
									<xs:enumeration value="org.apache.log4j.DailyRollingFileAppender"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="category" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="priority" type="priorityComplexType">
							</xs:element>
							<xs:element name="appender-ref" maxOccurs="unbounded" type="appender-refComplexType">
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="com.bestbuy.bbym.ise.util.jdbc"/>
									<xs:enumeration value="com.sun.jersey.api.container.filter"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="additivity" use="required" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="priority"
								type="priorityComplexType">

							</xs:element>
							<xs:element name="appender-ref"
								maxOccurs="unbounded" type="appender-refComplexType">

							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="appender-refComplexType">
		<xs:attribute use="required" name="ref">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ApplicationLogAppender"></xs:enumeration>
					<xs:enumeration value="CA"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="priorityComplexType">
		<xs:attribute use="required" name="value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="all"></xs:enumeration>
					<xs:enumeration value="debug"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
