DailyRhythmPortal/drp-ws-client/src/main/resources/wsdl/UCS/UpgradeChecker.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bestbuy.com/bbym/ucs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bestbuy.com/bbym/ucs" name="UpgradeCheckerService">
<types>
<xsd:schema>
<xsd:import namespace="http://bestbuy.com/bbym/ucs" schemaLocation="../UCS/UCSInternalSchema/UpgradeChecker.xsd" />
</xsd:schema>
</types>
<message name="getUpgradeEligibility">
<part name="parameters" element="tns:getUpgradeEligibility" />
</message>
<message name="getUpgradeEligibilityResponse">
<part name="parameters" element="tns:getUpgradeEligibilityResponse" />
</message>
<message name="UnknownFailureException">
<part name="fault" element="tns:UnknownFailureException" />
</message>
<message name="InvalidArgumentException">
<part name="fault" element="tns:InvalidArgumentException" />
</message>
<message name="AccountNotFoundException">
<part name="fault" element="tns:AccountNotFoundException" />
</message>
<message name="AuthenticationFailureException">
<part name="fault" element="tns:AuthenticationFailureException" />
</message>
<message name="InvalidAccountPasswordException">
<part name="fault" element="tns:InvalidAccountPasswordException" />
</message>
<message name="CAPException">
<part name="fault" element="tns:CAPException" />
</message>
<message name="AccountLockedException">
<part name="fault" element="tns:AccountLockedException" />
</message>
<message name="BusinessCustomerException">
<part name="fault" element="tns:BusinessCustomerException" />
</message>
<message name="getCachedUpgradeEligibility">
<part name="parameters" element="tns:getCachedUpgradeEligibility" />
</message>
<message name="getCachedUpgradeEligibilityResponse">
<part name="parameters" element="tns:getCachedUpgradeEligibilityResponse" />
</message>
<message name="getUpgradeEligibilityAsync">
<part name="parameters" element="tns:getUpgradeEligibilityAsync" />
</message>
<message name="getUpgradeEligibilityAsyncResponse">
<part name="parameters" element="tns:getUpgradeEligibilityAsyncResponse" />
</message>
<message name="getUpgradeEligibilityAsyncPoll">
<part name="parameters" element="tns:getUpgradeEligibilityAsyncPoll" />
</message>
<message name="getUpgradeEligibilityAsyncPollResponse">
<part name="parameters" element="tns:getUpgradeEligibilityAsyncPollResponse" />
</message>
<message name="getNotificationStatus">
<part name="parameters" element="tns:getNotificationStatus" />
</message>
<message name="getNotificationStatusResponse">
<part name="parameters" element="tns:getNotificationStatusResponse" />
</message>
<message name="getNotificationStatusPlus">
<part name="parameters" element="tns:getNotificationStatusPlus" />
</message>
<message name="getNotificationStatusPlusResponse">
<part name="parameters" element="tns:getNotificationStatusPlusResponse" />
</message>
<message name="putNotificationStatus">
<part name="parameters" element="tns:putNotificationStatus" />
</message>
<message name="putNotificationStatusResponse">
<part name="parameters" element="tns:putNotificationStatusResponse" />
</message>
<message name="putNotificationStatusPlus">
<part name="parameters" element="tns:putNotificationStatusPlus" />
</message>
<message name="putNotificationStatusPlusResponse">
<part name="parameters" element="tns:putNotificationStatusPlusResponse" />
</message>
<message name="putNotificationStatusMulti">
<part name="parameters" element="tns:putNotificationStatusMulti" />
</message>
<message name="putNotificationStatusMultiResponse">
<part name="parameters" element="tns:putNotificationStatusMultiResponse" />
</message>
<message name="putNotificationStatusPlusMulti">
<part name="parameters" element="tns:putNotificationStatusPlusMulti" />
</message>
<message name="putNotificationStatusPlusMultiResponse">
<part name="parameters" element="tns:putNotificationStatusPlusMultiResponse" />
</message>
<message name="putNotificationStatusWithCachedUpgradeCheck">
<part name="parameters" element="tns:putNotificationStatusWithCachedUpgradeCheck" />
</message>
<message name="putNotificationStatusWithCachedUpgradeCheckResponse">
<part name="parameters" element="tns:putNotificationStatusWithCachedUpgradeCheckResponse" />
</message>
<message name="getScorecard">
<part name="parameters" element="tns:getScorecard" />
</message>
<message name="getScorecardResponse">
<part name="parameters" element="tns:getScorecardResponse" />
</message>
<message name="getCarrierAndUpgradeCheckerStatus">
<part name="parameters" element="tns:getCarrierAndUpgradeCheckerStatus" />
</message>
<message name="getCarrierAndUpgradeCheckerStatusResponse">
<part name="parameters" element="tns:getCarrierAndUpgradeCheckerStatusResponse" />
</message>
<message name="getUpgradeCheckHistory">
<part name="parameters" element="tns:getUpgradeCheckHistory" />
</message>
<message name="getUpgradeCheckHistoryResponse">
<part name="parameters" element="tns:getUpgradeCheckHistoryResponse" />
</message>
<portType name="UpgradeChecker">
<operation name="getUpgradeEligibility">
<input message="tns:getUpgradeEligibility" />
<output message="tns:getUpgradeEligibilityResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="getCachedUpgradeEligibility">
<input message="tns:getCachedUpgradeEligibility" />
<output message="tns:getCachedUpgradeEligibilityResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="getUpgradeEligibilityAsync">
<input message="tns:getUpgradeEligibilityAsync" />
<output message="tns:getUpgradeEligibilityAsyncResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
</operation>
<operation name="getUpgradeEligibilityAsyncPoll">
<input message="tns:getUpgradeEligibilityAsyncPoll" />
<output message="tns:getUpgradeEligibilityAsyncPollResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="getNotificationStatus">
<input message="tns:getNotificationStatus" />
<output message="tns:getNotificationStatusResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="getNotificationStatusPlus">
<input message="tns:getNotificationStatusPlus" />
<output message="tns:getNotificationStatusPlusResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="putNotificationStatus">
<input message="tns:putNotificationStatus" />
<output message="tns:putNotificationStatusResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="putNotificationStatusPlus">
<input message="tns:putNotificationStatusPlus" />
<output message="tns:putNotificationStatusPlusResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="putNotificationStatusMulti">
<input message="tns:putNotificationStatusMulti" />
<output message="tns:putNotificationStatusMultiResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="putNotificationStatusPlusMulti">
<input message="tns:putNotificationStatusPlusMulti" />
<output message="tns:putNotificationStatusPlusMultiResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="putNotificationStatusWithCachedUpgradeCheck">
<input message="tns:putNotificationStatusWithCachedUpgradeCheck" />
<output message="tns:putNotificationStatusWithCachedUpgradeCheckResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
<fault message="tns:AuthenticationFailureException" name="AuthenticationFailureException" />
<fault message="tns:InvalidAccountPasswordException" name="InvalidAccountPasswordException" />
<fault message="tns:CAPException" name="CAPException" />
<fault message="tns:AccountLockedException" name="AccountLockedException" />
<fault message="tns:BusinessCustomerException" name="BusinessCustomerException" />
</operation>
<operation name="getScorecard">
<input message="tns:getScorecard" />
<output message="tns:getScorecardResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
</operation>
<operation name="getCarrierAndUpgradeCheckerStatus">
<input message="tns:getCarrierAndUpgradeCheckerStatus" />
<output message="tns:getCarrierAndUpgradeCheckerStatusResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
</operation>
<operation name="getUpgradeCheckHistory">
<input message="tns:getUpgradeCheckHistory" />
<output message="tns:getUpgradeCheckHistoryResponse" />
<fault message="tns:UnknownFailureException" name="UnknownFailureException" />
<fault message="tns:AccountNotFoundException" name="AccountNotFoundException" />
</operation>
</portType>
<binding name="UpgradeCheckerPortBinding" type="tns:UpgradeChecker">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getUpgradeEligibility">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="getCachedUpgradeEligibility">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="getUpgradeEligibilityAsync">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
</operation>
<operation name="getUpgradeEligibilityAsyncPoll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="getNotificationStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="getNotificationStatusPlus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="putNotificationStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="putNotificationStatusPlus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="putNotificationStatusMulti">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="putNotificationStatusPlusMulti">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="putNotificationStatusWithCachedUpgradeCheck">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
<fault name="AuthenticationFailureException">
<soap:fault name="AuthenticationFailureException" use="literal" />
</fault>
<fault name="InvalidAccountPasswordException">
<soap:fault name="InvalidAccountPasswordException" use="literal" />
</fault>
<fault name="CAPException">
<soap:fault name="CAPException" use="literal" />
</fault>
<fault name="AccountLockedException">
<soap:fault name="AccountLockedException" use="literal" />
</fault>
<fault name="BusinessCustomerException">
<soap:fault name="BusinessCustomerException" use="literal" />
</fault>
</operation>
<operation name="getScorecard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="InvalidArgumentException">
<soap:fault name="InvalidArgumentException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
</operation>
<operation name="getCarrierAndUpgradeCheckerStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
</operation>
<operation name="getUpgradeCheckHistory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnknownFailureException">
<soap:fault name="UnknownFailureException" use="literal" />
</fault>
<fault name="AccountNotFoundException">
<soap:fault name="AccountNotFoundException" use="literal" />
</fault>
</operation>
</binding>
<service name="UpgradeCheckerService">
<port name="UpgradeCheckerPort" binding="tns:UpgradeCheckerPortBinding">
<soap:address location="http://dlg19wap:10680/UpgradeCheckerService/UpgradeChecker" />
</port>
</service>
</definitions>