DailyRhythmPortal/drp-ws-client/src/main/resources/schema/CAP_RESPONSE_HEADER.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://bestbuy.com/bbym/beast/cap/response/header"
  xmlns:common="http://bestbuy.com/bbym/beast/cap/common"
  targetNamespace="http://bestbuy.com/bbym/beast/cap/response/header"
  elementFormDefault="unqualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://bestbuy.com/bbym/beast/cap/common" schemaLocation="CAP_COMMON.XSD"/>

  <xs:complexType name="Header">
    <xs:annotation>
      <xs:documentation>
            Response Message Header
          </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="destinationId" type="common:DestinationType"
        minOccurs="1" />
      <xs:element name="transactionId" minOccurs="0" type="common:TransactionIdType">
      </xs:element>
      <xs:element name="messageType" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>
              The type of message sent. Valid values are
              listed through Enumeration.
            </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="POSTPAID_CREDIT_CHECK_RESPONSE" />
            <xs:enumeration value="POSTPAID_ACTIVATION_RESPONSE" />
            <xs:enumeration value="POSTPAID_PLANS_RESPONSE" />
            <xs:enumeration value="POSTPAID_OPTIONS_RESPONSE" />
            <xs:enumeration value="POSTPAID_SERVICE_VALIDATION_RESPONSE" />
            <xs:enumeration value="POSTPAID_ACCOUNT_VALIDATION_RESPONSE" />
            <xs:enumeration value="POSTPAID_NPA_NXX_RESPONSE" />
            <xs:enumeration value="POSTPAID_PORT_ELIGIBILITY_RESPONSE" />
            <xs:enumeration value="POSTPAID_CONTRACT_SUBMIT_RESPONSE" />
            <xs:enumeration value="POSTPAID_PAYMENT_RESPONSE" />
            <xs:enumeration value="POSTPAID_BILL_SUMMARY_RESPONSE" />
            <xs:enumeration value="POSTPAID_ADD_PORT_RESPONSE" />
            <xs:enumeration value="POSTPAID_INQUIRE_MARKET_SERVICE_AREAS_RESPONSE" />
            <xs:enumeration value="POSTPAID_RESERVE_SUBSCRIBER_NUMBER_RESPONSE" />
            <xs:enumeration value="POSTPAID_RELEASE_SUBSCRIBER_NUMBER_RESPONSE" />
            <xs:enumeration value="POSTPAID_ADDRESS_MATCH_RESPONSE" />
	      	<xs:enumeration value="NC_ACCOUNT_LOOKUP_RESPONSE" />
	      	<xs:enumeration value="NC_ACTIVATION_RESPONSE" />
	      	<xs:enumeration value="NC_ACTIVATE_RESPONSE" />
	      	<xs:enumeration value="NC_BILL_SUMMARY_RESPONSE" />
	      	<xs:enumeration value="NC_CREATE_ACCOUNT_RESPONSE" />
	      	<xs:enumeration value="NC_NPA_NXX_RESPONSE" />
	      	<xs:enumeration value="NC_OPTIONS_RESPONSE" />
	      	<xs:enumeration value="NC_PLANS_RESPONSE" />
	      	<xs:enumeration value="NC_PLOPTIONS_RESPONSE" />
	      	<xs:enumeration value="NC_RELEASE_SUBSCRIBER_NUMBER_RESPONSE" />
	      	<xs:enumeration value="NC_PORT_ELIGIBILITY_RESPONSE" />
	       	<xs:enumeration value="NC_ADD_PORT_RESPONSE" />
	      	<xs:enumeration value="NC_TOPUP_ELIGIBILITY_RESPONSE" />
	      	<xs:enumeration value="NC_APPLY_TOPUP_RESPONSE" />
	      	<xs:enumeration value="NC_DIGITAL_PIN_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_ONLINE_PREACTIVATION_RESPONSE" />
	      	<xs:enumeration value="EASYPAY_SETUP_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_TECHNOLOGY_TYPE_LOOKUP_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_CORPORATE_DISCOUNT_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_RSA_TOKEN_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_NEW_BILL_SUMMARY_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_REQUEST_ACKNOWLEDGEMENT"/>
	      	<xs:enumeration value="SUBMIT_ACTIVATION_DETAILS_RESPONSE" />
	      	<xs:enumeration value="COVERAGE_CHECK_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_CUSTOMER_ACCOUNT_CANCELLATION_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_UPDATE_CUSTOMER_ACCOUNT_RESPONSE" />
	      	<xs:enumeration value="SUBMIT_IVR_DETAILS_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_EID_VALIDATION_RESPONSE"/>
	      	<xs:enumeration value="POSTPAID_OFFLINE_CATALOG_RESPONSE"/>
	      	<xs:enumeration value="POSTPAID_FIND_ONLINE_ORDER_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_RELEASE_PENDING_ORDER_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_UPGRADE_VERIFICATION_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_CONTRACT_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_CHECK_ORDER_STATUS_RESPONSE" />
	      	<xs:enumeration value="VERIFY_FRAUD_CHECK_RESPONSE" />
	      	<xs:enumeration value="DEVICE_UNLOCK_RESPONSE" />
	      	<xs:enumeration value="NC_PREACTIVATION_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_EXISTING_CUSTOMER_BUNDLE_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_ACTIVATION_BUNDLE_RESPONSE" />
	      	<xs:enumeration value="CHECK_EQUIPMENT_STATUS_RESPONSE" />
	      	<xs:enumeration value="POSTPAID_STANDALONE_DEVICE_OR_SERVICE_CHANGE_RESPONSE" />
	        <xs:enumeration value="POSTPAID_IMPORT_SUBSCRIBERS_DETAILS_RESPONSE" />
	  		<xs:enumeration value="POSTPAID_LINE_STATUS_CHECK_RESPONSE" />
	  		<xs:enumeration value="VALIDATE_HARDWARE_IDENTIFIER_RESPONSE" />



          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="timestamp" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            Time the message is sent to OVM, format is
            CCYY-MM-DDThh:mm:ss
          </xs:documentation>
        </xs:annotation>
      </xs:element>


      <xs:element name="channelId" minOccurs="1">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>
              Tag to indicate what store front the order
              originated from
            </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="carrierTransactionId" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Carrier Transaction Id structure.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="capVersion" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The version of cap responding. Will be used for
            trouble shooting.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorInfoType">
    <xs:sequence>
      <xs:element name="resultType">
          <xs:annotation>
            <xs:documentation>
                The error type Error-type = 1: Indicates the
                request should be resent due to some
                dependencies, i.e. Credit request is not
                received prior to Activation Request. Error-type
                = 2: Partner needs to research the issue, make
                some corrections and resend Error-type = 3: The
                request cannot go any further and will be
                cancelled.
              </xs:documentation>
          </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="resultCode">
      <xs:annotation>
            <xs:documentation>The code of the error</xs:documentation>
          </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="categoryCode" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The code of category</xs:documentation>
          </xs:annotation>
         <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="resultDetails">
          <xs:annotation>
            <xs:documentation>
                      The description of the error
            </xs:documentation>
          </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>