DailyRhythmPortal/drp-ws-client/src/main/resources/schema/POSTPAID_RSA_TOKEN_RESPONSE.XSD

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://bestbuy.com/bbym/beast/cap/response/postpaid/rsaToken"
	targetNamespace="http://bestbuy.com/bbym/beast/cap/response/postpaid/rsaToken"
	xmlns:header="http://bestbuy.com/bbym/beast/cap/response/header"
	xmlns:common="http://bestbuy.com/bbym/beast/cap/common"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:import
		namespace="http://bestbuy.com/bbym/beast/cap/response/header"
		schemaLocation="CAP_RESPONSE_HEADER.XSD" />
	<xs:import namespace="http://bestbuy.com/bbym/beast/cap/common"
		schemaLocation="CAP_COMMON.XSD" />

	<xs:complexType name="Body">
		<xs:sequence>
			<xs:element name="tokenUserId" type="xs:token" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The user identification portion of the
						one-time-token.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tokenPassCode" type="RsaToken">
				<xs:annotation>
					<xs:documentation>
						The actual RSA passcode portion of the
						one-time-token.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RsaToken">
		<xs:annotation>
			<xs:documentation>
				This is TokenCode(OTT) generated by RSA server .
				This Token will expire within specified in time as
				stipulated in application_Config table
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PostpaidRsaTokenResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="header:Header" />
				<xs:choice>
					<xs:element name="Body" type="Body" />
					<xs:element name="resultInfo"
						type="header:errorInfoType" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>